default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  username: postgres
  password: postgres
  pool: 5

development:
  <<: *default
  database: backend_development

test:
  <<: *default
  database: backend_test

production:
  primary: &primary_production
    <<: *default
    database: backend_production
    username: backend
    password: <%= ENV["BACKEND_DATABASE_PASSWORD"] %>

  cache:
    <<: *primary_production
    database: backend_production_cache
    migrations_paths: db/cache_migrate

  queue:
    <<: *primary_production
    database: backend_production_queue
    migrations_paths: db/queue_migrate

  cable:
    <<: *primary_production
    database: backend_production_cable
    migrations_paths: db/cable_migrate
